:root {
    --background-color: #002F6C;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat';
    color: var(--background-color);
}

header, footer, h1 {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    text-align: center;
    color: var(--text-color);
}

header {
    padding: 2rem;
    font-size: 2rem;
}

footer {
    padding: 2rem;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
    place-items: center;
    width: 100%;
}

.hero {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

section {
    width: 100%;
    padding: 1rem;
}

section img {
    max-width: 100px;
}

h2 {
    background-color: #002f6c13;
    padding: 5px;
}

ul {
    list-style: none;
}

@media screen and (min-width: 960px) {

    * {
        margin: 0;
        padding: 0;
    }

    header, footer, h1 {
        max-width: 1500px;
        width: 100%;
        
    }

    .hero {
        max-width: 1500px; 
        position: relative;
        width: 100%;
        height: auto; 
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    .left {
        position: absolute;
        top: 10rem;
        left: 1rem;
        background-color: var(--text-color);
        padding: 1rem;
        border-radius: 5px;
        width: 25%;
    }

    .right {
        position: absolute;
        bottom: 7rem;
        right: 1rem;
        background-color: var(--text-color);
        padding: 1rem;
        border-radius: 5px;
        width: 25%;
    }
    h2 {
        background-color: #002f6cc0;
        padding: 5px;
        color: white;
    }

    .weather-title {
        position: relative;
    }

    .weather-title::after {
        content: "";
        display: inline-block;
        width: 24px; 
        height: 24px;
        background-image: url('images/icon.svg');
        background-size: cover;
        margin-left: 0.5rem;
        vertical-align: middle;
    }
}